@model IEnumerable<GroupProjectASP.Models.Item>

@{
    ViewData["Title"] = "AddtoCart";
}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUpload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@("~/Images/" + item.ImageUpload)" asp-append-version="true" width="100" height="100" />
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Price.ToString("c2")
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="card-body" style="text-align: right">
    <a class="btn btn-secondary" asp-controller="Customer" asp-action="" asp-route-id="">Keep Buying</a> |
    <a class="btn btn-success" asp-controller="Customer" asp-action="" asp-route-id="">Place Order</a>
</div>

@*//need touch up on image display css
    //needs remove from cart button
    //need checkout button
    //needs continue shoping button*@




















