@model GroupProjectASP.ViewModels.CartViewModel

<h1 style="width: 200px; float: left">Cart List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Item Image
            </th>
            <th>
                Quantity
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Subtotal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td>
                    <img src="@("~/Images/" + item.Item.ImageUpload)" asp-append-version="true" class="card-img-top" alt=@item.Item.Title width="100" height="100">
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Item.Title
                </td>
                <td>
                    @item.Item.Price.ToString("c2")
                </td>
                <td>
                    @((item.Quantity * item.Item.Price).ToString("c2"))
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteItem" asp-controller="Customer" asp-route-id="@item.Item.ItemID">Remove</a>
                    <a class="btn btn-success" asp-action="AddToCart" asp-controller="Customer" asp-route-id="@item.Item.ItemID">Add</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">Total:</td>
            <td class="text-right">@Model.CartTotal.ToString("c2")</td>
        </tr>
    </tfoot>
</table>