@model GroupProjectASP.ViewModels.CheckoutViewModel

@{

    ViewData["Title"] = "Checkout";
}

<h3>
    Thank you  @User.Identity.Name
</h3>
<h4> Your total is $ @ViewBag.Total</h4>
@foreach (var item in Model.cartItems)
            {
    <h6> @item.Item.Title </h6>
            }

<h3>@ViewBag.Name</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.order.OrderDate" class="control-label"></label>
                <input type="date" asp-for="@Model.order.OrderDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="@Model.order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.TotalPrice" class="control-label"></label>
                <input asp-for="@Model.order.TotalPrice" class="form-control" value="@ViewBag.Total" />
                <span asp-validation-for="@Model.order.TotalPrice" class="text-danger"></span>
            </div>
            <h4>Shipping Address</h4>
            <div class="form-group">
                <label asp-for="@Model.order.FirstName" class="control-label"></label>
                <input asp-for="@Model.order.FirstName" class="form-control" />
                <span asp-validation-for="@Model.order.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.LastName" class="control-label"></label>
                <input asp-for="@Model.order.LastName" class="form-control" />
                <span asp-validation-for="@Model.order.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.Address" class="control-label"></label>
                <input asp-for="@Model.order.Address" class="form-control" />
                <span asp-validation-for="@Model.order.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.City" class="control-label"></label>
                <input asp-for="@Model.order.City" class="form-control" />
                <span asp-validation-for="@Model.order.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.State" class="control-label"></label>
                <input asp-for="@Model.order.State" class="form-control" />
                <span asp-validation-for="@Model.order.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.order.Zip" class="control-label"></label>
                <input asp-for="@Model.order.Zip" class="form-control" />
                <span asp-validation-for="@Model.order.Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-controller="Orders" asp-action="Create"
                       type="submit" value="Place Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
